<h1>Products (`collections.frontpage.products`)</h1>

{% if collections.frontpage.products.size > 0 %}

  {% for product in collections.frontpage.products limit:4 %}

    {% include 'content-archive-product' %}

  {% endfor %}

{% endif %}

<h1>Articles (`blogs.news.articles`)</h1>

{% if blogs.news.articles.size > 0 %}

  {% for article in blogs.news.articles limit:4 %}

    {% include 'content-article' %}

  {% endfor %}

{% endif %}